<ng-template ngFor let-pokemon [ngForOf]="allPokemons">
  <a *ngIf="pokemon.details" class="pokemon" style="cursor: pointer;" (click)="details(pokemon.details.id)">
    <section class="pokemon__status">
      <h2>
        {{pokemon.name}}
      </h2>
      <ul>
        <li *ngFor="let item of pokemon.details.types">
          {{item.type.name}}
        </li>
      </ul>
    </section>
    <section class="pokemon__image">
      <img [src]="pokemon.details.sprites.other.dream_world.front_default" [alt]="pokemon.name">
    </section>
  </a>
</ng-template>
